In [36]:
import pandas as pd
import numpy as np

In [37]:
data = pd.read_csv('kyphosis.csv')

In [38]:
data

   Kyphosis  Age  Number  Start
0    absent   71       3      5
1    absent  158       3     14
2   present  128       4      5
3    absent    2       5      1
4    absent    1       4     15
..      ...  ...     ...    ...
76  present  157       3     13
77   absent   26       7     13
78   absent  120       2     13
79  present   42       7      6
80   absent   36       4     13

[81 rows x 4 columns]

In [39]:
data.columns

Index(['Kyphosis', 'Age', 'Number', 'Start'], dtype='object')

In [40]:
data.head()

  Kyphosis  Age  Number  Start
0   absent   71       3      5
1   absent  158       3     14
2  present  128       4      5
3   absent    2       5      1
4   absent    1       4     15

In [41]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [42]:
x = data.drop('Kyphosis', axis = 1)

In [43]:
y = data['Kyphosis']

In [44]:
x_train,x_test,y_train,y_test = train_test_split(x, y, random_state = 42, test_size = 0.3)

In [45]:
model = DecisionTreeClassifier()
model=model.fit(x_train,y_train)

In [46]:
y_pred = model.predict(x_test)

In [47]:
accuracy = accuracy_score(y_test,y_pred,)
report = classification_report(y_test,y_pred,)
matrix = confusion_matrix(y_test,y_pred,)

In [49]:
print(f"Accuracy Score:{accuracy}")
print("Classification_Report : \n",report)
print("Confusion Matrix : \n",matrix)

Accuracy Score:0.68
Classification_Report :
               precision    recall  f1-score   support

      absent       0.76      0.84      0.80        19
     present       0.25      0.17      0.20         6

    accuracy                           0.68        25
   macro avg       0.51      0.50      0.50        25
weighted avg       0.64      0.68      0.66        25

Confusion Matrix :
 [[16  3]
 [ 5  1]]

In [50]:
#random Forest

from sklearn.ensemble import RandomForestClassifier

In [51]:
randf = RandomForestClassifier(max_depth = 10, min_samples_split = 5, min_samples_leaf = 2)

In [52]:
randf = randf.fit(x_train,y_train)

In [53]:
y_pred = randf.predict(x_test)

In [54]:
accuracy = accuracy_score(y_pred,y_test)
report = classification_report(y_pred, y_test)
matrix = confusion_matrix(y_pred, y_test)

In [55]:
print(f"Accuracy Score:{accuracy}")
print("Classification_Report : \n",report)
print("Confusion Matrix : \n",matrix)

Accuracy Score:0.8
Classification_Report :
               precision    recall  f1-score   support

      absent       1.00      0.79      0.88        24
     present       0.17      1.00      0.29         1

    accuracy                           0.80        25
   macro avg       0.58      0.90      0.58        25
weighted avg       0.97      0.80      0.86        25

Confusion Matrix :
 [[19  5]
 [ 0  1]]